<!DOCTYPE html>
<html>
   <head>
      <title>Website Template</title>
      <link rel="icon" href="Files/Icons/Logo_Example.ico" type="image/x-icon">
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
      <header>
         <h1>Website Template - Project Example</h1>
         <nav>
            <br>
            <ul>
               <li><a href="index.html">Home</a></li>
               <li><a href="about-me.html">About Me</a></li>
               <li><a href="showcase.html">Showcase</a>
                  <ul class="dropdown">
                    <li><a href="project-example.html">> Sub Page 1</a></li>
                    <li><a href="project-example.html">> Sub Page 2</a></li>
                    <li><a href="project-example.html">> Sub Page 3</a></li>
                  </ul>
               </li>
            </ul>
         </nav>
      </header>
      <section>
         <div class="content-container">
            <div class="terminal-container">
               <div class="back-button"><a href="showcase.html">< Back</a></div>
               <center>
                  <iframe src="https://store.steampowered.com/widget/2257800/" frameborder="0" width="646" height="190"></iframe>
               </center>
               <br>
               <p>
                  <iframe width="100%" height="480px" src="https://www.youtube.com/embed/laCT1IA_LIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  <br>
                  <a href="https://store.steampowered.com/app/2257800/Cannon_Climbing/" target="_blank">Cannon Climbing on Steam</a>
               </p>
               <div>
                  <br>
                  <h2 class="terminal-title">About This Game:</h2>
                  <img src="Files/Gifs/ExampleGif_1.gif" alt="Cannon Climbing Gif 1" class="capsule-image">
                  <h2 class="terminal-title">Cannon Climbing</h2>
                  <p class="terminal-text">
                     <br>
                    Cannon Climbing is a thrilling precision platformer where you play as a cannon shooting your way to new heights. Ascend a massive test chamber filled with unique obstacles and Outmaneuver laser-wielding robots along the way. Use your knockback to gain momentum and reach new heights, but beware - one wrong move and you'll be sent back to the bottom. Can you conquer the ultimate test of skill and make it to the top?
                    Wishlist now and find out!
                  </p>
                  <br>
                  <br>
                  <img src="Files/Gifs/ExampleGif_2.gif" alt="Cannon Climbing Gif 2" class="capsule-image">
                  <h2 class="terminal-title">Features:</h2>
                  <p class="terminal-text">
                     <br>
                    <ul class="nav-terminal list">
                      <li>Play as a cannon and use shooting to propel yourself to new heights</li>
                      <li>Ascend a massive test chamber filled with different themed levels</li>
                      <li>Dodge enemy robots and their laser attacks</li>
                      <li>Use knockback from shooting to gain momentum and reach new heights</li>
                      <li>Challenging gameplay that tests your skills</li>
                      <li>Multiple achievements to unlock</li>
                      <li>Steam Leaderboards to compete with other players</li>
                      <li>Connect to twitch</li>
                    </ul>
                  </p>
                  <br>
                  <br>
                  <img src="Files/Gifs/ExampleGif_3.gif" alt="Cannon Climbing Gif 3" class="capsule-image">
               </div>
            </div>
         </div>
      </section>
      <footer>
         <p>&copy; 2023 Marcel van Duijn. All rights reserved. | Social Media: <a href="https://twitter.com/MarcelvanDuijn_" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/in/marcel-van-duijn/" target="_blank">Linkedin</a>, <a href="https://sketchfab.com/MarcelvanDuijn" target="_blank">Sketchfab</a>, <a href="https://www.youtube.com/channel/UCifUu8rDfr-ljsMx8bUVGrg" target="_blank">Youtube</a>, <a href="https://www.artstation.com/marcelvanduijn"> Artstation </a>, <a href="https://www.instagram.com/marcelvanduijn_" target="_blank"> Instagram </a>, <a href="https://github.com/MarcelvanDuijnDev" target="_blank"> GitHub </a>, Thank you for visiting!</p>
      </footer>
   </body>
</html>